@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header {
    width: 85%;
    margin: 2em 0 1em 2em;
}

img {
    width: 10em;
}

main {
    width: 85%;
    margin: 0 auto;
}

#results{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 1.5em
}

#resultsPageContainer {
    text-align: center;
}

#resultsPageTitle {
    width: 50%;
    margin:0 auto;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 3.5em;
    line-height: 0.8em;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 0.1em;
    display: flex;
    justify-content: center;
}

h1 + p{
    font-size: 1.3em;
}

p {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

#left, #center, #right {
    font-family: 'Outfit', sans-serif;
}

#center {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 2em;
    padding: 0.9em 3em;
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
}

button:hover {
    background-color: #00FFFF;
    box-shadow: 0 0 5px 5px #01f9f981;
    color: black;
    border: 1px solid #00FFFF;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#rateUs {
    display: flex;
    justify-content: center;
}
#center {
    width: 28%;
    position: relative;
}

#centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 100%;
}


#myCanvas {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1000px) {
  

    .testo{
        font-size: 0.3em;
    }


}


#centered-div > p:first-child{
    margin-bottom: 0;
}



.boldi{
    font-weight: bold;
}

.pColore{
    font-weight: bold;
    color: #00FFFF;
}

.testo{
    font-size: 0.9em;
}

.tre, .quattro{
    font-size: 0.8em;
    padding: 0 15%;
}

.rosso{
    color: red;
}

.cinque{
    font-weight: bold;
    font-size: 1.3em;
}